@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:900,400);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,100);

body{
	background-color: #222;
	color: #FFF;
	font-family: Lato, sans-serif;
    width:100%;
	font-size:12px;
}

hr{
	width: 60%;
	border:0;
	height:2px;
	//background:#BD2222;
	background: linear-gradient(right, #222, #BD2222, #222);
	background: -moz-linear-gradient(right, #222, #BD2222, #222);
	background: -webkit-linear-gradient(right, #222, #BD2222, #222);
}

.main a{
    color: #DDD;
    text-decoration: none;
    border-bottom: 1px dotted #DDD;
}

h1{
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 900;
	color:#FFF;
	text-align: center;
	font-size: 4em;
	margin-bottom:10px;
}

@media only screen and (min-width:980px){
	header nav.navigation .closebtn, .nav-button{
		display:none;
	}

	header{
		min-height:100px;
		background-color:#BD2222;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	header nav.navigation{
		text-align:center;
		line-height: 100px;
	}

	header nav.navigation a{
		font-size:1.5em;
		color:#FFF;
		text-decoration: none;
		font-weight:300;
		padding: 10px 20px;
	}

	header nav.navigation a:hover{
		color: #BD2222;
		background-color: #FFF;
		font-weight: 400;
		border-radius:10px;
	}
}

@media only screen and (max-width:980px){
	.nav-button{
		display: block;
		float:left;
		font-size:80px;
		cursor: pointer;
		color: #BD2222;
	}

	header{
		background-color: #222;
	}

	header nav.navigation{
		height:100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #BD2222;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
	}

	header nav.navigation a{
	    padding: 8px 8px 8px 32px;
	    text-decoration: none;
	    font-size: 35px;
	    color: #FFF;
	    display: block;
	    transition: 0.3s;
	}

	header nav.navigation a:not(:first-child){
		border-bottom:1px solid #FFF;
	}

	header nav.navigation a:hover, .offcanvas a:focus{
	    color: #f1f1f1;
	}

	header nav.navigation .closebtn{
		display:inline-block;
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	}
}

.main{
	padding-top:80px;
}

#aboutme{
    width: 100%;
    margin: 0 auto;
    font-size: 1.5em;
    text-align:justify;
}

@media screen and (min-width: 980px){
	.main{
		padding-top: 150px;
	}
}

#aboutme img{
    border: 3px solid #DDD;
    padding: 8px;
    height:150px;
    width:auto;
	display: block;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
}

#aboutme h1{
	padding-top:-60px;
}

#aboutme .pres{
	width:60%;
	margin: 0 auto;
	text-align:justify;
	line-height: 1.5;
}
